*{
    padding: 0;
    margin: 0;
}
header{
    position: sticky;
    top: 0;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}
.logo{
    margin-left: 40px;
    padding: 10px;
    color: white;
    font-weight: 15px;
    font-size: 35px;
}
.logo span{
    color: rgb(233, 129, 44);
    font-style: italic;
}
.Nlist li{
    margin: 0px 19px;
    padding-top: 10px;
    color: white;
    font-size: 18px;
}
.Nlist ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.Nlist ul a{
    text-decoration: none;
}
.Nlist ul a:hover{
    border-bottom: 3px solid rgb(233, 129, 44); 
} 

/* home section */
.homesec{
    height: 100vh;
    width: 100%; 
    margin: 0px;
    display: flex;
    background-color: black;
}
.wel{
    margin: 200px 40px;
    line-height: 70px;
    font-size: 50px;
    color: white;
}
.wel h1 span{
    color: rgb(233, 129, 44);
}
.image img{
    height: 80%;
    width: 85%;
    margin: 60px 10px 0px 100px;
    background-size: cover;
    border-radius: 10px;
}

/* about section */
.aboutsec{
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.myimage img{
    height:70vh;
    width: 90%;
    margin-top: 6vh;
    border-radius: 10px;
}
.aboutText{
    width: 50%;
    height: 60vh;
    text-align: left ;
    line-height: 50px;
    font-size: 30px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 210px;
}
.aboutText h1{
    padding-top: 50px;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(233, 129, 44);
    font-weight: 800;
}
.aboutText h2{
    margin-bottom: 30px;
}
.boxes{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
}
.boxes li{
    list-style: none;
}

/* skills section */
.skillssec{
    height: 100vh;
}
.top{
    text-align: center;
    padding: 20px;
    font-size: 25px;
    color: rgb(233, 129, 44);
    background-color: black;
}
.top h1{
    padding-top: 50px;
}
.lr{
    display: flex;
}
.left{
    width: 50%;
    height: 79vh;
    background-color: black; 
    color: #fff;
    padding: 60px; 
}
.left h3 {
    margin: 5px;
    margin: 20px;
    font-size: 30px;
}
.per{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
}
.bar{
    background-color: white;
    display: block;
    height: 20px;
    border: 1px solid rgba(138, 18, 18, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(200, 20, 20, 0.12),0 1px 2px rgba(182, 18, 18, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.bar:hover{
    box-shadow: o 14px 28px rgb(185, 15, 15),0 10px 2px rgb(126, 4, 4);
}
.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg,  rgb(233, 129, 44)0%,rgba(252, 103, 103, 1)100%);
}
.html{
    width: 90%;
    animation: html 3s;
}
.css{
    width: 80%;
    animation: html 3s;
}
.javascript{
    width: 60%;
    animation: html 3s;
}
.nodejs{
    width: 10%;
    animation: html 3s;
}


.right{
    width: 50%;
    height: 96vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}
.d{
    height: 30vh;
    width: 60%;
    background-color: black;
    border-radius: 50%;
    border: 10px solid rgb(233, 129, 44);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 90px 60px 90px;
    color: white;
    font-size: 50px;
}
.f1{
    border-top: 10px solid white;
}
.s2{
    border-left: 10px solid white;
    border-top: 10px solid white;
    border-bottom: 10px solid white;
}
.t3{
    border-top: 10px solid white;
}
.f4{
    border-top: 10px solid white;
}

/* project section */
.projectsec{
    height: 120vh;
    width: 100%;
    background-color: black; 
}
.proh{
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-size: 50px;
    font-weight: 800;
    color: rgb(233, 129, 44);
}
.video{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 7%;
    flex-wrap: wrap;
}
.p{
    margin-top: 10vh;
    height: 40vh;
    width: 20%;
    background-color: black;
    border-radius: 15px;
    background-size: cover;
    cursor: pointer;
}
video{
    height: 100%;
    width: 100%;
    transition: 2s;
}

 /* Contect section */

 .contactsec{
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: black;
 }
 .contactsec,h1{
   padding-top: 30px;
    text-align: center;
    display: block;
    color: rgb(233, 129, 44);
    font-weight: 800;
    font-size: 50px;
 }
 .cbox{
    height: 100vh;
    width: 100%;
    display: flex;
 } 
 .cbox1{
    height: 97vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 90px;
    color: white;
    padding-bottom: 50px;

 }
 .cbox2{
    height: 97vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    border-radius: 45px;
    width: 800px;
    font-size: 30px;
    padding: 9px;
 }
 input{
    height: 27px;
 }
 .cbox1 button{
    width: 25%;
    font-size: 20px;
    background-color: rgb(233, 129, 44);
    border-radius: 9px;
    padding: 4px;
    border: none;
    margin-left: 230px;
 }
  .cbox2 button{
    width: 25%;
    font-size: 30px;
    margin-left: 32%;
    background-color: rgb(233, 129, 44);
    border-radius: 9px;
    padding: 4px;
    border: none;
 }
 input{
    font-size: 20px;
    font-weight: bolder;
 }
 textarea {
    font-size: 40px;
    font-weight: bolder;
 }

 
